:root {
  /* color */
  --black: #070707;
  --ivory: #fffcf7;
  --beige: #fff9f1;
  --mint: #d3dcd9;
  --blue: #366eff;
}
/* fade animation class */
.fade-in {
  animation: fade-in 0.5s ease-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-top {
  animation: fade-top 0.5s ease-in-out;
}
@keyframes fade-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-bottom {
  animation: fade-bottom 0.5s ease-in-out;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-top100 {
  animation: fade-top100 0.5s ease-in-out;
}
@keyframes fade-top100 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-bottom100 {
  animation: fade-bottom100 0.5s ease-in-out;
}
@keyframes fade-bottom100 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-left {
  animation: fade-left 0.7s ease-in;
}
@keyframes fade-left {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-left100 {
  animation: fade-left100 0.7s ease-in;
}
@keyframes fade-left100 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-top-right {
  animation: fade-top-right 0.7s ease-in;
}
@keyframes fade-top-right {
  0% {
    transform: translate(4vw, -4vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-top-left {
  animation: fade-top-left 0.7s ease-in;
}
@keyframes fade-top-left {
  0% {
    transform: translate(-7vw, -10vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-bottom-right {
  animation: fade-bottom-right 0.7s ease-in;
}
@keyframes fade-bottom-right {
  0% {
    transform: translate(4vw, 4vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-bottom-left {
  animation: fade-bottom-left 0.7s ease-in;
}
@keyframes fade-bottom-left {
  0% {
    transform: translate(-7vw, 10vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fade-right {
  animation: fade-right 0.5s ease-in;
}
@keyframes fade-right {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
.fade-right100 {
  animation: fade-right100 0.5s ease-in;
}
@keyframes fade-right100 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* #main h2 animation */
.fade-box {
  position: relative;
  overflow: hidden;
  display: block;
}

.fade-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}
.fade-box.blue::after {
  background: var(--blue);
}
.fade-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  animation: a-ltr-before 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}
.fade-box.mint::before {
  background: var(--mint);
}
.fade-box.beige::before {
  background: var(--beige);
}
.fade-box.ivory::before {
  background: var(--ivory);
}
.fade-box::before,
.fade-box::after {
  animation-delay: 1s;
}

.fade-box::before,
.fade-box::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

/* main-img-wrap animation */
.main-img-wrap {
  background-color: #99ddee;
  overflow: hidden;
}
.main-img-wrap:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: 1;
}

.hide:before {
  display: none;
}

@keyframes hide {
  0% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  51% {
    height: 0%;
  }
}

.main-img-wrap:after {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--blue);
  transform: translate(100%);
}

.wow:after {
  animation: wow 2s ease;
  z-index: 2;
}

@keyframes wow {
  0% {
    height: 0;
    width: 1vw;
    transform: translate(0);
  }
  25% {
    height: 100%;
    width: 1vw;
  }
  50% {
    width: 100%;
  }
  51% {
    transform: translate(0);
  }
  100% {
    transform: translateX(100%);
  }
}
/* contact phone animation */
#contact #hand {
  animation: hand-touch 2s ease-in-out infinite;
}
@keyframes hand-touch {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
#contact #touch-effect {
  animation: touch-effect 2s linear infinite;
}
@keyframes touch-effect {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* about img hover */
#body #about .about1 .about-img:hover {
  transform: rotate(0);
  transform: scale(1.4);
  transition: 1s;
  top: 25%;
  left: 30%;
  z-index: 999;
}

/* skills ani */
#skills #fly-person {
  animation: float 3s linear infinite;
}
@keyframes float {
  0% {
    bottom: 16%;
  }
  50% {
    bottom: 10%;
  }
  100% {
    bottom: 16%;
  }
}
#skills #airplane {
  animation: float2 2.5s linear infinite;
}
@keyframes float2 {
  0% {
    top: -5%;
  }
  50% {
    top: 0%;
  }
  100% {
    top: -5%;
  }
}

/* project float-img */
.float-img1 {
  animation: float-img 2.8s linear infinite;
}
.float-img2 {
  animation: float-img 2.8s linear 0.8s infinite;
}
.float-img:hover {
  animation-play-state: paused;
}

@keyframes float-img {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* css-ani svg ani */
#spaceship {
  animation: float-svg 2.8s linear 0.8s infinite;
}
#astronaut,
#hose {
  animation: float-svg 2.8s linear infinite;
}
@keyframes float-svg {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(2%);
  }
  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
#twinkle1 {
  animation: fade-in-infi 2s ease-in-out infinite;
}
#twinkle2 {
  animation: fade-in-infi 1.5s linear 1s infinite;
}
#twinkle3 {
  animation: fade-in-infi 1.8s ease-out infinite;
}
#twinkle4 {
  animation: fade-in-infi 2s linear infinite;
}

@keyframes fade-in-infi {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#blackhole {
  width: 10vw !important;
  height: 10vw !important;
  transform-origin: bottom center;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
    transform-box: fill-box;
  }
}
/* cloud */
.cloud {
  animation: cloud 2.8s linear infinite;
}
.cloud:nth-child(even) {
  animation: cloud 2s linear 0.8s infinite;
}
.cloud.cloud2-1 {
  animation: cloud 3s linear infinite;
}
.cloud {
  animation: cloud 2.8s linear infinite;
}
@keyframes cloud {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* contact */
#wave4 {
  animation: wave 2.8s linear infinite;
}
#wave3 {
  animation: wave 2.8s linear 0.5s infinite;
}
#wave2 {
  animation: wave 2.8s linear 1s infinite;
}
@keyframes wave {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(1.5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.float-email.typing p {
  animation: typing 4s steps(25), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* blue effect svg -  */
#blue-path.dash {
  stroke-dasharray: 1410;
  stroke-dashoffset: 1410;
  animation: dash 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#blue-line.dash {
  stroke-dasharray: 295;
  stroke-dashoffset: 295;
  animation: dash 1s ease-in-out;
  animation-fill-mode: forwards;
}
#blue-line2.dash {
  stroke-dasharray: 560;
  stroke-dashoffset: 560;
  animation: dash 1s ease-in-out;
  animation-fill-mode: forwards;
}
#blue-star.dash {
  stroke-dasharray: 123;
  stroke-dashoffset: 123;
  animation: dash 1s ease-in-out;
  animation-fill-mode: forwards;
}
